<!--to do: modify select button to redirect user to the provider's page (or website?)-->

<div *ngIf="listOfProviders">
  <div *ngFor="let provider of listOfProviders"> 
    {{provider.name}}
    <button>select</button> 
    <button (click)='registerProviderWithUser(provider.name); updateUserForms(provider); registerUserWithProvider(provider)'>
      <!--updateUserForms(provider[required-forms])-->
      register with this provider</button>
    <div>
      {{provider.city}}
    </div>
  </div>
</div>
<button (click)='testFunction()'>test</button>
<button (click)='otherFunction()'>other</button>