<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Patient-Portal</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Past Visits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/appointment-scheduler">Available Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item pull-right" routerLink="/user-login-component">
        <a class="nav-link" href="#">Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<div class="float-right">
  <h6 class="display-3">Get started by entering the health-care provider you wish to be registered with</h6>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<div id="add-site">
  <h6>(to be used on admin side)</h6>
    <input #providerNameField type="text" placeholder="e.g. St. Vincent's">
    <button (click)="saveProviderToDB(providerNameField.value)">Add health-care provider</button>
</div>

<div *ngIf="listOfProviders">
  <h6>search providers</h6>
  <input #searchProvidersField type="text" (keyup)="matchSearchWithProviders(searchProvidersField.value, listOfProviders)">
  <div>
    <ul>
      <li *ngFor="let result of results">{{ result }}</li>
    </ul>
  </div>
</div>

